.puzzle {
  display: flex;
  flex-wrap: wrap;
  touch-action: none;
  user-select: none;
  position: static;
  max-height: 600px;
  max-width: 1200px;
  border: 5px solid grey;
  margin: auto;
  margin-top: 30px;
  background-size: cover;
}
